.tm-doc blockquote {
  margin: 0 0 16px;
  padding: 0 1em;
}

.tm-doc blockquote>:first-child {
  margin-top: 0;
}

.tm-doc blockquote>:last-child {
  margin-bottom: 0;
}

.tm-doc pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-top: 0;
  word-wrap: normal;
  margin-bottom: 0;
  word-break: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}

.tm-doc h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.tm-doc h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.tm-doc h1 {
  font-size: 32px;
  font-weight: 600;
}

.tm-doc h2 {
  font-size: 24px;
  font-weight: 600;
}

.tm-doc h3 {
  font-size: 20px;
  font-weight: 600;
}

.tm-doc h4 {
  font-size: 16px;
  font-weight: 600;
}

.tm-doc h5 {
  font-size: 14px;
  font-weight: 600;
}

.tm-doc h6 {
  font-size: 12px;
  font-weight: 600;
}

.tm-doc h1, h2, h3, h4, h5, h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.tm-doc h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
}

.tm-doc h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

.tm-doc h3 {
  font-size: 1.25em;
}

.tm-doc h4 {
  font-size: 1em;
}

.tm-doc h5 {
  font-size: 0.875em;
}

.tm-doc h6 {
  font-size: 0.85em;
}

.tm-doc .tm-horizontal {
  list-style: none;
  padding-top: 20px;
}

.tm-doc .tm-horizontal li {
  display: inline;
}

.tm-doc ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.tm-doc ol ol, ul ol {
  list-style-type: lower-roman;
}

.tm-doc ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style-type: lower-alpha;
}

.tm-doc ul, ol {
  margin-top: 0;
  margin-bottom: 16px;
}

.tm-doc ul, ol {
  padding-left: 2em;
}

.tm-doc ul ul, ul ol, ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.tm-doc li {
  word-wrap: break-all;
}

.tm-doc li > p {
  margin-top: 16px;
}

.tm-doc li + li {
  margin-top: 0.25em;
}

.tm-doc p {
  margin-top: 0;
  margin-bottom: 16px;
}

.tm-doc hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.tm-doc hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  border: 0;
}

.tm-doc hr::before {
  display: table;
  content: "";
}

.tm-doc hr::after {
  display: table;
  clear: both;
  content: "";
}

.tm-doc hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  border: 0;
}

.tm-doc .em {
  font-weight: bold;
}

.tm-doc table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  overflow: auto;
}

.tm-doc table th {
  font-weight: 600;
}

.tm-doc table th, .tm-doc table td {
  padding: 6px 13px;
}

.tm-doc td, th {
  padding: 0;
}

.tm-doc {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.tm-doc::before {
  display: table;
  content: "";
}
.tm-doc::after {
  display: table;
  clear: both;
  content: "";
}
.tm-doc>*:first-child {
  margin-top: 0 !important;
}
.tm-doc>*:last-child {
  margin-bottom: 0 !important;
}
.tm-doc * {
  box-sizing: border-box;
}

.tm-doc a {
  text-decoration: none;
}
.tm-doc a:active {
  outline-width: 0;
}
.tm-doc a:hover {
  outline-width: 0;
  text-decoration: underline;
}
.tm-doc a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.tm-doc strong {
  font-weight: 600;
}

.tm-doc img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}
.tm-doc img[align=right] {
  padding-left: 20px;
}
.tm-doc img[align=left] {
  padding-right: 20px;
}

.tm-doc .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.tm-doc .anchor:focus {
  outline: none;
}

.tm-doc code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}

