.status {
    width: 100%;
    bottom: 0;
    height: 18px;
    margin: 0;
    padding: 3px 8px;
    position: absolute;
    text-align: left;
    font-size: 12px;
    -webkit-user-select: none;
    cursor: default;
}

/* .tm-editor > .content {
    transition: 0.3s;
}

.tm-editor .monaco-editor {
    transition: 0.3s;
} */

.tm-editor .hide-minimap .minimap { display: none }

/* Style the tab */
.tm-editor > .header {
    height: 40px;
    overflow: hidden;
    border-style: none;
}

button.toolbar-toggler {
    font-size: 20px;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 100%;
    padding: 12px 16px;
    text-align: -webkit-center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tm-tabs {
    height: 100%;
    margin-bottom: -1px;
}

/* Style the buttons that are used to open the tab content */
.tm-tabs button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0px;
}

.tm-tabs button > div.title {
    padding: 12px 25px 12px 25px;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}

.tm-tabs button.active > div.title,
.tm-tabs button:hover > div.title {
    padding:  12px 36px 12px 14px
}

.tm-tabs button > i.icon-close {
    display: none;
    float: right;
    padding: 15px 14px 15px 0px;
    font-size: 10px;
    transition: 0.3s;
}

.tm-tabs button.active > i.icon-close,
.tm-tabs button:hover > i.icon-close {
    display: initial;
}

.tm-tabs button.add-tag {
    padding: 15px 12px;
    font-size: 10px;
    transition: 0.3s;
}

.topright {
    color: white;
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.monaco-editor .decorationsOverviewRuler { display: none }
