.tm-editor > .header {
    height: 40px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.tm-editor > .header .div { font-family: source-san-sans-CN }

.tm-tabs {
    height: 100%;
    margin-bottom: -1px;
}

.tm-editor .header button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0px;
}

.tm-tabs button > div.title {
    padding: 12px 25px 12px 25px;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}

.tm-tabs button.active > div.title,
.tm-tabs button:hover > div.title {
    padding:  12px 36px 12px 14px
}

.tm-tabs button > i.icon-close {
    display: none;
    float: right;
    padding: 15px 14px 15px 0px;
    font-size: 10px;
    transition: 0.3s;
}

.tm-tabs button.active > i.icon-close,
.tm-tabs button:hover > i.icon-close {
    display: initial;
}

.tm-editor button.add-tag {
    padding: 15px 12px;
    font-size: 10px;
    transition: 0.3s;
}

.tm-editor button.toolbar-toggler {
    padding: 11px 12px;
    font-size: 18px;
    top: 0px;
    height: 40px;
    transition: 0.3s;
    float: right;
    position: relative;
}

.tm-editor > .toolbar {
    overflow: hidden;
    top: 0px;
    height: 40px;
    left: 0px;
    width: 100%;
    position: absolute;
    transition: 0.3s;
    float: left;
}

.tm-editor.show-toolbar > .toolbar { top: 40px }

.toolbar .volume-slider {
    top: 0px;
    width: 100px;
    height: 40px;
    left: 40px;
    position: absolute;
}

.toolbar i {
    padding: 12px;
    font-size: 16px;
    vertical-align: -webkit-baseline-middle;
}

.tm-editor > .content {
    overflow: hidden;
    top: 40px;
    left: 0px;
    position: absolute;
    transition: 0.3s;
}

.tm-editor.show-toolbar > .content { top: 80px }

.status {
    width: 100%;
    bottom: 0px;
    height: 18px;
    margin: 0px;
    padding: 3px 8px;
    position: absolute;
    text-align: left;
    font-size: 12px;
    -webkit-user-select: none;
    cursor: default;
}

.monaco-editor .decorationsOverviewRuler { display: none }
