<div class="tm-editor" :class="{'show-menubar': menubar}"
  @dragover.stop.prevent @drop.stop.prevent="loadFileDropped"
  @click="hideContextMenus" @contextmenu="hideContextMenus">
  <div class="header" @contextmenu.stop="showContextMenu('header', $event)">
    <div class="menubar">
      <div v-for="(menu, index) in menuData.menubar.content" class="tm-top-menu"
        @click.stop="showMenu(index, $event)" @mouseover.stop="hoverMenu(index, $event)"
        :class="{ active: menuData.menubar.embed[index] }" @contextmenu.stop>
        {{ $t('editor.menu.' + menu.key) }} (<span>{{ menu.bind }}</span>)
      </div>
    </div>
    <div class="tm-tabs">
      <draggable :list="tabs" :options="dragOptions" @start="draggingTab = true" @end="draggingTab = false">
        <transition-group ref="tabs" name="tm-tabs" class="tm-scroll-tabs" :style="{width: tabsWidth}" :move-class="draggingTab ? 'no-transition' : ''" @wheel.prevent.stop.native="scrollTab" @beforeLeave="appendTabLeaveStyle">
        <button v-for="tab in tabs" @mousedown.left="switchTabById(tab.id)" @click.middle.prevent.stop="closeTab(tab.id)" :key="tab.id" :identifier="'tab-'+tab.id" class="tm-scroll-tab">
          <div class="tm-tab" :class="{ active: tab.id === current.id, changed: tab.changed }">
            <i v-if="tab.changed" class="icon-circle" @mousedown.stop @click.stop="closeTab(tab.id)"/>
            <i v-else class="icon-close" @mousedown.stop @click.stop="closeTab(tab.id)"/>
            <div class="left-border"/>
            <div class="title" @contextmenu.stop="toggleTabMenu(tab.id, $event)">{{ tab.title }}</div>
            <div class="right-border"/>
          </div>
        </button>
        </transition-group>
      </draggable>
      <button class="add-tag" @click="addTab(false)" :style="{ left: addTagLeft + 'px' }">
        <i class="icon-add"/>
      </button>
    </div>
  </div>
  <div class="content" ref="content"
    :class="{ 'no-transition': draggingExtension }" :style="{ height: contentHeight }"/>
  <div class="extension" :class="{ 'no-transition': draggingExtension }" :style="{
      height: (extensionShowed && extensionFull ? '100%' : extensionHeight + 'px'),
      bottom: (extensionShowed ? extensionFull ? 0 : 28 : 28 - extensionHeight) + 'px'
    }">
    <div class="top-border" v-show="!extensionFull" @mousedown="startDrag"/>
    <div class="nav-left" ref="exts" @contextmenu.stop="showContextMenu('extension', $event)">
      <button v-for="(ext, index) in extensions" @click="changeExtension(index)"
        :key="ext.name" :class="{ active: activeExtension === index }">
        {{ getExtensionName(ext) }}
      </button>
    </div>
    <div class="underline" :style="{ left: extUnderlineLeft, width: extUnderlineWidth }"/>
    <div class="nav-right">
      <button @click="toggleFullExt()">
        <i :class="extensionFull ? 'icon-down' : 'icon-up'"/>
      </button>
      <button @click="extensionShowed = false">
        <i class="icon-close"/>
      </button>
    </div>
    <keep-alive>
      <transition name="tm-ext"
        :leave-to-class="'transform-to-' + (extensionMoveToRight ? 'left' : 'right')"
        :enter-class="'transform-to-' + (extensionMoveToRight ? 'right' : 'left')">
        <component :is="'tm-ext-' + extensions[activeExtension].name" class="tm-ext"
          :width="width" :height="extensionHeight - 36" :isFull="extensionFull"/>
      </transition>
    </keep-alive>
  </div>
  <div class="status" :style="{ bottom: extensionShowed && extensionFull ? '-28px' : '0px' }">
    <div class="left">
      <div class="text">{{ $t('editor.line-col', { line: row, col: column }) }}</div>
    </div>
    <div class="right">
      <button @click="toggleExtension()"><i class="icon-control"/></button>
    </div>
  </div>
  <tm-menus ref="menus" :keys="menuKeys" :data="menuData" :lists="[{
    name: 'tabs',
    data: tabs,
    current: current.id,
    switch: 'switchTabById',
    close: 'closeTab'
  }]"/>
</div>