.tm-document ::-webkit-scrollbar { width: 12px }
.tm-document ::-webkit-scrollbar-thumb { border-radius: 2px }

.tm-document > .toolbar {
    top: 0;
    height: 36px;
    left: 0;
    width: 100%;
    cursor: default;
    user-select: none;
    position: absolute;
    transition: 0.5s ease;
}

.tm-document > .toolbar > .left {
    left: 0px;
    height: 100%;
    float: left;
    position: absolute;
}

.tm-document > .toolbar > .right {
    right: 0px;
    height: 100%;
    float: right;
    position: absolute;
}

.tm-document > .toolbar button {
    top: 0;
    height: 100%;
    font-size: 18px;
    line-height: 1em;
    text-align: center;
    padding: 0px 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tm-document > .toolbar button > i { vertical-align: text-bottom }

.tm-document > .toolbar .route {
    padding: 6px 8px;
    border-radius: 6px;
    position: relative;
    line-height: 16px;
    text-align: center;
    display: inline;
}
.tm-document > .toolbar .route > li { display: inline }
.tm-document > .toolbar .route > li:not(:first-child):not(.anchor) { padding-left: 4px }
.tm-document > .toolbar .route a {
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
}
.tm-document > .toolbar .route a:hover {
    outline-width: 0;
    text-decoration: underline;
}

.tm-document > .catalog {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 36px;
    user-select: none;
    transition: 0.5s ease;
}

.tm-document > .catalog .el-menu { border-right: none }
.tm-document > .catalog > .el-menu { padding: 12px 0px }

.tm-document > .catalog .el-menu > ul { 
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tm-document > .catalog .el-menu .el-menu-item,
.tm-document > .catalog .el-menu .el-submenu__title {
    height: 32px;
    line-height: 32px;
}

.tm-document > .content {
    position: absolute;
    top: 36px;
    transition: 0.5s ease;
}

.tm-doc {
    -webkit-text-size-adjust: 100%;
    height: -webkit-fill-available;
    font-family: source-san-sans-CN;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 40px;
    transition: 0.5s ease;
    overflow-y: auto;
}

/* .tm-doc::before {
    display: table;
    content: "";
}

.tm-doc::after {
    display: table;
    clear: both;
    content: "";
} */

.tm-doc * { box-sizing: border-box }
.tm-doc > :first-child { margin-top: 0 !important }
.tm-doc > :last-child { margin-bottom: 0 !important }

.tm-doc blockquote {
    margin: 0 0 16px;
    padding: 4px 1em;
    border-left: 0.25em solid;
}

.tm-doc blockquote > :first-child { margin-top: 0 }
.tm-doc blockquote > :last-child { margin-bottom: 0 }
.tm-doc blockquote code { background-color: inherit !important }

.tm-doc .usage blockquote {
    border: 1px solid !important;
    margin-bottom: -1px;
    padding: 8px 1em;
}

.tm-doc .usage blockquote:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tm-doc .usage blockquote:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 16px;
}

.tm-doc .usage blockquote span:first-child {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.tm-doc .usage blockquote > br + span { padding-left: 16px }
.tm-doc .usage blockquote > br + span em { padding: 4px }

.tm-doc .codeblock {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 88%;
    margin-bottom: 16px;
    overflow-x: auto;
}

.tm-doc .codeblock span { white-space: nowrap }
.tm-doc .codeblock::-webkit-scrollbar { height: 8px }
.tm-doc .codeblock::-webkit-scrollbar-thumb { border-radius: 4px }

.tm-doc pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-top: 0;
  word-wrap: normal;
  margin-bottom: 0;
  word-break: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}

.tm-doc h1, .tm-doc h2, .tm-doc h3, .tm-doc h4 {
    margin-top: 24px;
    font-weight: bold;
    line-height: 1.25;
}

.tm-doc h1 {
    font-size: 2em;
    margin-top: 48px;
    padding-bottom: 0.3em;
}

.tm-doc h2 {
    font-size: 1.5em;
    margin-top: 32px;
    padding-bottom: 0.3em;
}

.tm-doc h1, .tm-doc h2 { margin-bottom: 12px }
.tm-doc h3, .tm-doc h4 { margin-bottom: 16px }
.tm-doc h3 { font-size: 1.25em }
.tm-doc h4 { font-size: 1em }

.tm-doc span.comment { font-size: 0.8em }

.tm-doc .tm-horizontal {
    list-style: none;
    padding: 8px;
}

.tm-doc .tm-horizontal li { display: inline }

.tm-doc ul, .tm-doc ol {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 2em;
}

.tm-doc ul ul, .tm-doc ul ol,
.tm-doc ol ol, .tm-doc ol ul {
    margin-top: 0.25em;
    margin-bottom: 0;
    padding-left: 1.2em;
}

.tm-doc ul ul ol, .tm-doc ul ol ol,
.tm-doc ol ul ol, .tm-doc ol ol ol {
    list-style-type: lower-alpha;
}

.tm-doc li { word-wrap: break-all }
.tm-doc li > p { margin-top: 16px }
.tm-doc li + li { margin-top: 0.25em }

.tm-doc p {
  margin-top: 0;
  margin-bottom: 16px;
}

.tm-doc hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.tm-doc hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  border: 0;
}

.tm-doc hr::before {
  display: table;
  content: "";
}

.tm-doc hr::after {
  display: table;
  clear: both;
  content: "";
}

.tm-doc hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  border: 0;
}

.tm-doc .em {
  font-weight: bold;
}

.tm-doc table {
    border-spacing: 0;
    border-collapse: collapse;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 16px;
    display: block;
    overflow: auto;
}

.tm-doc table th { font-weight: 600 }
.tm-doc table th, .tm-doc table td { padding: 6px 13px }

.tm-doc a {
  text-decoration: none;
}
.tm-doc a:active {
  outline-width: 0;
}
.tm-doc a:hover {
  outline-width: 0;
  text-decoration: underline;
}
.tm-doc a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.tm-doc strong {
  font-weight: 600;
}

.tm-doc img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}
.tm-doc img[align=right] {
  padding-left: 20px;
}
.tm-doc img[align=left] {
  padding-right: 20px;
}

.tm-doc .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.tm-doc .anchor:focus {
  outline: none;
}

.tm-doc code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em 0.3em;
    margin: 0 0.2em;
    font-size: 85%;
    border-radius: 3px;
    vertical-align: 0.1em;
}

.mock-item .el-submenu__icon-arrow {
    display: none;
}