.status {
  width: 100%;
  bottom: 0;
  height: 12px;
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  background-color: #2c3e50;
  color: #fff;
  text-align: left;
  font-size: 12px;
  -webkit-user-select: none;
}

.monaco-editor .editor-scrollable {
  border-left: 1px solid #2e2e2e;
}

.tm-editor {
  background-color: #1e1e1e;
}

/* .tm-editor > .content {
  transition: 0.3s;
}

.tm-editor .monaco-editor {
  transition: 0.3s;
} */

/* Style the tab */
.tm-editor > .header {
  height: 40px;
  overflow: hidden;
  border-style: none;
  border-bottom: 1px solid #2c3e50;
}

button.toolbar-toggler {
  font-size: 20px;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 100%;
  padding: 12px 16px;
  text-align: -webkit-center;
  background-color: inherit;
  color: #dddddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tm-tabs {
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tm-tabs button {
  background-color: inherit;
  color: #dddddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tm-tabs button:hover {
  background-color: #252525;
}

.tm-tabs button.active {
  background-color: #2c3e50;
}

.topright {
  color: white;
  float: right;
  cursor: pointer;
  font-size: 28px;
}
