.status {
  width: 100%;
  bottom: 0;
  height: 20px;
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  text-align: left;
  font-size: 12px;
  -webkit-user-select: none;
}

/* .tm-editor > .content {
  transition: 0.3s;
}

.tm-editor .monaco-editor {
  transition: 0.3s;
} */

.tm-editor .hide-minimap .minimap { display: none }

/* Style the tab */
.tm-editor > .header {
  height: 40px;
  overflow: hidden;
  border-style: none;
}

button.toolbar-toggler {
  font-size: 20px;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 100%;
  padding: 12px 16px;
  text-align: -webkit-center;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tm-tabs {
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tm-tabs button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.topright {
  color: white;
  float: right;
  cursor: pointer;
  font-size: 28px;
}
