#editor {
  left: 0;
  width: 100%;
  height: 100%;
}

.status {
  width: 100%;
  bottom: 0;
  height: 12px;
  margin: 0;
  padding: 8px 4px;
  position: absolute;
  background-color: #2c3e50;
  color: #fff;
  text-align: left;
  font-size: 12px;
  -webkit-user-select: none;
}

.v-leave-active {
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.v-leave-to {
  opacity: 0;
}

.progress {
  margin: 0 auto;
  vertical-align: baseline;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  width: 500px;
  text-align: center;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress .progress-bar.active {
  font-weight: 700;
  animation: progress-bar-stripes .5s linear infinite;
}

.progress-bar {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  background: #007bff linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.fade {
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

.monaco-editor .editor-scrollable {
  border-left: 1px solid #2e2e2e;
}

/* Style the tab */
.tm-editor .header {
  height: 40px;
  overflow: hidden;
  border-style: none;
  border-bottom: 1px solid #2c3e50;
  background-color: #1e1e1e;
}

button.toolbar-toggler {
  font-size: 20px;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 100%;
  padding: 12px 16px;
  text-align: -webkit-center;
  background-color: inherit;
  color: #dddddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tm-tabs {
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tm-tabs button {
  background-color: inherit;
  color: #dddddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tm-tabs button:hover {
  background-color: #252525;
}

.tm-tabs button.active {
  background-color: #2c3e50;
}

.topright {
  color: white;
  float: right;
  cursor: pointer;
  font-size: 28px;
}
