.tm {
  display: block;
  background-color: black;
  padding: 10px;
}

.footer-player {
  position: fixed;
  right: 0;
  left: 0;
  bottom: -4px;
  background-color: #282828;
  height: 104px
}
.play-progress {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 75px;
  z-index: 1024;
  padding: 0;
}
.el-aside {
  padding: 0;
}
.el-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
}
@media screen and (max-width: 320px){
.el-button {
  margin-right: .1rem;
  margin-left: .1rem;
}
}
@media screen and (max-width: 576px){
.music-text h1 {
  font-size: 1.2rem
}
.music-text p {
  font-size: 1rem
}
}

.dd {
  border: none;
  border-top-style: dashed;
  margin: auto;
  position: relative;
}

.dd::before {
  content: '';
  width: 100%;
  border-top-style: dashed;
  position: absolute;
  left: 0;
  top: 8px;
}

.double {
  border: none;
  border-top-style: double;
}

.dash {
  border: none;
  border-top-style: dashed;
}

.normal {
  border: none;
  border-top-style: solid;
}

.em {
  font-weight: bold;
}

