@font-face {
  font-family: 'tm-icon';
  src: url('icons.ttf?6udbwl') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'tm-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-user:before { content: "\e900" }
.icon-menu:before { content: "\e901" }
.icon-play:before { content: "\e902" }
.icon-circle:before { content: "\e903" }
.icon-circle:hover::before { content: "\ea0f" }
.icon-home:before { content: "\e904" }
.icon-window-close:before { content: "\e905" }
.icon-window-maximize:before { content: "\e906" }
.icon-window-minimize:before { content: "\e907" }
.icon-stop:before { content: "\e908" }
.icon-pause:before { content: "\e909" }
.icon-editor:before { content: "\e90a" }
.icon-volume-medium:before { content: "\e90b" }
.icon-volume-high:before { content: "\e90c" }
.icon-volume-low:before { content: "\e90d" }
.icon-volume-mute:before { content: "\e90e" }
.icon-up:before { content: "\e90f" }
.icon-down:before { content: "\e910" }
.icon-window-restore:before { content: "\e911" }
.icon-document:before { content: "\e926" }
.icon-control:before { content: "\e992" }
.icon-settings:before { content: "\e994" }
.icon-add:before { content: "\ea0a" }
.icon-delete:before { content: "\ea0b" }
.icon-close:before { content: "\ea0f" }
.icon-arrow-right:before { content: "\ea3c" }
.icon-arrow-left:before { content: "\ea40" }
.icon-search:before { content: "\e986" }
.icon-favorite:before { content: "\e9da" }
