
/* navbar */
.dark .navbar { background-color: #001122; color: #FFFFFF }
.dark .navbar button { background-color: inherit; color: #dddddd }
.dark .navbar button:hover { background-color: #252525 }
.dark .navbar button.active { background-color: #2c3e50 }
.dark .navbar button path { fill: #FFFFFF }
.dark.show-sidebar button.sidebar-toggler { background-color: #545c64 }

/* sidebar */
.dark .sidebar { background-color: #545c64 }

/* homepage */
.dark div.home { background-color: #FFFFF0 }

/* editor */
.dark .tm-editor { background-color: #1e1e1e }
.dark .tm-editor .editor-scrollable { border-left: 1px solid #2c3e50 }
.dark .tm-editor > .header { border-bottom: 1px solid #2c3e50 }
.dark .tm-editor > .status { background-color: #2c3e50; color: #ffffff }
.dark .tm-editor button.toolbar-toggler { background-color: inherit; color: #dddddd }
.dark .tm-tabs button { background-color: inherit; color: #dddddd }
.dark .tm-tabs button:hover { background-color: #252525 }
.dark .tm-tabs button.active { background-color: #2c3e50 }
.dark .monaco-editor .decorationsOverviewRuler { display: none }
.dark .monaco-editor .monaco-editor-background { background-color: #1e1e1e }
.dark .monaco-editor .margin { background-color: #1e1e1e; color: #d4d4d4 }

/* document */
.dark .tm-doc { color: #24292e }
.dark .tm-doc blockquote { color: #6a737d; border-left: 0.25em solid #dfe2e5 }
.dark .tm-doc pre { background-color: #f6f8fa }
.dark .tm-doc h1 { border-bottom: 1px solid #eaecef }
.dark .tm-doc h2 { border-bottom: 1px solid #eaecef }
.dark .tm-doc hr { border-bottom: 1px solid #dfe2e5; background-color: #e1e4e8 }
.dark .tm-doc table th, .tm-doc table td { border: 1px solid #dfe2e5 }
.dark .tm-doc table tr { background-color: #fff; border-top: 1px solid #c6cbd1 }
.dark .tm-doc table tr :nth-child(2n) { background-color: #f6f8fa }
.dark .tm-doc a { background-color: transparent; color: #0366d6 }
.dark .tm-doc img { background-color: #fff }
.dark .tm-doc code {  background-color: rgba(27, 31, 35, 0.05) }
.dark .tm-grey { color: grey }

/* documents */
.dark div.tm-document { background-color: #FFFFF0 }

/* settings */
.dark div.tm-settings { background-color: #FFFFF0 }
